@use '../../../styles/scss/variables' as V;

.bwi-select {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;

  &,
  & * {
    cursor: pointer;
    width: 100%;
    display: block;
  }

  &__options {
    display: block;
    width: 100%;
  }

  &__trigger-icon {
    color: V.$blue-700;
    height: 16px;
    display: flex;
    width: 100%;
    object-fit: contain;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transform: rotate(0deg);
  }
  
  &__error-message {
    position: absolute;
    top: 100%;
  }
}

// STATE
.bwi-select {
  &--opened & {
    display: block;
    width: 100%;
    &__trigger-icon {
      transform: rotate(180deg);
    }
  }

  &--tile {
    .bwi-input-text__input-wrapper {
      display: block;
      width: 100%;
      &,
      &::after {
        display: block;
        max-width: 100%;
        border-radius: 0;
        border: none;
      }
    }
  }

  &--disabled,
  &--disabled * {
    cursor: not-allowed;
  }

  &--disabled &__trigger-icon {
    color: V.$gray-400;
  }
}
