@use '../../../styles/scss/variables' as V;

.bwi-select {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between; // Pastikan ikon berada di ujung kanan

  & {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center; // Pastikan konten sejajar dengan baik
  }
  & * {
    width: auto;
    display: flex;
    margin-left: unset; // Hindari margin yang mendorong teks

  }

  &__options {
    display: block;
    width: 100%;
    white-space: nowrap; // Hindari pemotongan teks jika memungkinkan
    overflow: hidden; // Opsional jika masih ada pemotongan
    text-overflow: ellipsis; // Tambahkan jika ingin teks terpotong dengan "..."
  }

  &__trigger-icon {
    color: V.$blue-700;
    height: 16px;
    width: auto;
    flex-shrink: 0;
    margin-left: auto; // Memindahkan ikon ke kanan
    object-fit: contain;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transform: rotate(0deg);
  }
  
  &__error-message {
    position: absolute;
    top: 100%;
  }
}

// STATE
.bwi-select {
  &--opened & {
    &__trigger-icon {
      display: flex;
      width: 100%;
      margin-left: auto;
      transform: rotate(180deg);
    }
  }

  &--tile {
    .bwi-input-text__input-wrapper {
      display: block;
      width: 100%;
      &,
      &::after {
        display: block;
        max-width: 100%;
        border-radius: 0;
        border: none;
      }
    }
  }

  &--disabled,
  &--disabled * {
    cursor: not-allowed;
  }

  &--disabled &__trigger-icon {
    color: V.$gray-400;
  }
}
